@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;600&display=swap");

@import "tailwindcss";

@theme {
  --font-bebas: "Bebas Neue", sans-serif;
  --font-inter: "Inter", sans-serif;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 1s forwards;
}

.animate-fadeIn.delay-200 {
  animation-delay: 0.2s;
}

